
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    <%- title %>
</title>

<!-- boot swatch themes -->
<!-- <link rel="stylesheet" href="/css/darkly.min.css"> -->
<!-- <link rel="stylesheet" href="/css/slate.min.css"> -->
<link rel="stylesheet" href="/css/sandstone.min.css">
<!-- <link rel="stylesheet" href="/css/flatly.min.css"> -->

<!-- fontawesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">